/* 초기화 값  */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ol, ul {
	list-style: none;
	overflow: hidden;
}

a {
	outline: 0;
	text-decoration: none;
	color: #333;
	cursor: pointer;
}

img {
	border: 0;
}

body {
	width: 100%;
	margin: 0 auto;
	color: #444;
	font-size: 15px;
	text-align: center;
	font-family: 'NanumSquareRound', sans-serif;
	text-overflow: ellipsis;
}
/* common.css width 값 */
.w-pct80 {	width: 80%;}
.w-pct70 {	width: 70%;}
.w-pct60 {	width: 60%;}
.w-pct55 {	width: 55%;}
.w-pct50 {	width: 50%;}
.w-pct45 {	width: 45%;}
.w-pct40 {	width: 40%;}
.w-pct43 {	width: 43%;}
.w-pct41 {	width: 41%;}
.w-pct30 {	width: 30%;}
.w-pct25 {	width: 25%;}
.w-pct20 {	width: 20%;}
.w-pct15 {	width: 15%;}
.w-pct10 {	width: 10%;}
.w-pct7 {	width: 7%;}
.w-pct6 {	width: 6%;}
.w-pct5 {	width: 5%;}
.w-pct3 {	width: 3%;}
.w-px300 {	width: 300px;}
.w-px250 {	width: 250px;}
.w-px200 {	width: 200px;}
.w-px170 {	width: 170px;}
.w-px150 {	width: 150px;}
.w-px140 {	width: 140px;}
.w-px130 {	width: 130px;}
.w-px120 {	width: 120px;}
.w-px110 {	width: 110px;}
.w-px100 {	width: 100px;}
.w-px90 {	width: 90px;}
.w-px80 {	width: 80px;}
.w-px75 {	width: 75px;}
.w-px70 {	width: 70px;}
.w-px65 {	width: 65px;}
.w-px60 {	width: 60px;}
.w-px50 {	width: 50px;}
.w-px40 {	width: 40px;}
.w-px30 {	width: 30px;}

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap')
	;

/* width 값을 class로 등록하여 관리 */
a.btn-fill {
	display: inline-block;
	padding: 10px 13px;
	color: #fff;
	background-color: #731aed;
	border: 0;
	border-radius: 7px;
	text-align: center;
	font-size: 13px;
}

a.btn-fill-s {
	display: inline-block;
	font-size: 13px;
	padding: 10px 13px;
	text-align: center;
	/* 	background: #b1cdfa; */
	color: #fff;
	background-color: #731aed;
	border: 0;
	border-radius: 7px;
}

a.btn-empty {
	display: inline-block;
	background-color: #fff;
	color: #4e4e4e;
	border-radius: 7px;
	text-align: center;
	padding: 9px 12px;
	border: 1px solid #731aed;
	font-size: 13px;
}

.button {
	margin-top: 40px;
	width: 38.6%;
	margin-bottom: 20px;
	display: inline-block;
}

.list_btn1 {
	display: block;
	width: 50%;
	float: left;
	text-align: left;
	margin-bottom: 35px;
}

.list_btn2 {
	display: block;
	width: 50%;
	text-align: right;
	float: right;
}

#content_wrap {
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #fff;
}

/* ----- 커뮤니티 & 퍼피플소식 중간 메뉴바 ----- */
#community_menubar {
	width: 1200px;
	margin: 30px auto;
}

#community_menubar ul {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

#community_menubar li {
	width: 25%;
	float: left;
}

#community_menubar .notice_menuber {
	width: 100%;
	margin: 0 auto;
	overflow: hidden
}

#community_menubar .notice_menuber li {
	width: 33.333%;
	float: left;
}

#community_menubar li:nth-child(2) { /* border 겹침 없애기  */
	margin-left: -1px
}

#community_menubar li:nth-child(3) {
	margin-left: -1px
}

#community_menubar li:nth-child(4) {
	margin-left: -1px
}

#community_menubar a {
	display: block;
	width: 100%;
	padding: 18px 0;
	text-align: center;
	color: #565656;
	font-weight: 800;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #d1d1d1;
	border-collapse: collapse;
}

#community_menubar .on_listpage {
	border-top: 2px solid #731aed;
	border-left: 1px solid #d1d1d1;
	border-right: 1px solid #d1d1d1;
	background-color: #fff;
	border-bottom: 1px solid white;
}

#community_menubar a:hover {
	color: #fff;
	background-color: #802eef;
	border: 1px solid #d1d1d1;
	transition: 0.4s
}

#community_menubar .on_listpage:hover {
	border-top: 2px solid #731aed;
	border-left: 1px solid #d1d1d1;
	border-right: 1px solid #d1d1d1;
	background-color: #fff;
	color: #565656;
	border-bottom: 1px solid white;
}

/* --------------------------------- */
#board_content {
	min-width: 1280px;
	min-height: 650px;
	height: 100%;
	padding: 20px 0;
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#popup-background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.3;
	display: none;
}

.middle * {
	vertical-align: middle;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

img {
	vertical-align: middle; /* 세로축 가운데 정렬 */
}

table {
	width: 70%;
	margin: 0 auto;
	/* 테두리 겹침 설정 collapse : 겹치지 않게 처리 */
}

table tr {
	height: 40px;
	border-bottom: 1px solid #d2d2d2;
}

table th, table td {
	padding: 20px 10px;
}

table tr td a:hover {
	font-weight: 700;
	color: red;
}

.btnSet {
	margin-top: 20px;
}

a:hover {
	cursor: pointer;
}

input {
	height: 22px;
	padding-left: 9px;
	font-size: 15px;
	border: 1px solid #d2d2d2;
}

input:focus {
	outline: none;
}

textarea {
	border: 1px solid #afafaf;
	font-size: 15px;
	padding: 10px;
	height: 250px;
	resize: none;
}

textarea:focus {
	outline: 0
}

input[name=board_title], textarea[name=board_content] {
	width: calc(100% - 24px);
}

input[type=file], #delete-file {
	display: none;
}

.font-img {
	font-size: 20px
}

.file-img {
	/* width: 20px; */
	height: 18px;
	cursor: pointer;
}

#delete-file {
	color: red;
}

input[type=radio] {
	width: 18px;
	margin: 0 5px 3px;
	vertical-align: middle;
}

select {
	height: 34px;
	border: 1px solid #d2d2d2;
	padding: 0 5px;
	font-size: 13px;
	cursor: pointer;
}

select:focus {
	outline: none;
}

ul {
	list-style: none;
	padding: 0
}

#no_content { /* 등록된 글이 없습니다.. */
	padding: 100px 0;
}

/* board의 title */
.title_div {
	width: 100%;
	background: url("../imgs/vis4_resize.png"),
		linear-gradient(0deg, rgba(131, 59, 246, 1) 0%, rgba(96, 26, 237, 1)
		100%);
	background-repeat: no-repeat;
	background-position: 128% 62%;
	padding: 50px 0;
	margin: 40px 0;
}

.notice_title_div {
	width: 1200px;
	background: url("../imgs/vis2_resize.png"),
		linear-gradient(0deg, rgba(131, 59, 246, 1) 0%, rgba(96, 26, 237, 1)
		100%);
	background-repeat: no-repeat;
	background-position: 111% 69%;
	padding: 50px 0;
	margin: 40px auto;
}

.detail_title_div {
	width: 1200px;
	background: url("../imgs/vis4_resize.png"),
		linear-gradient(0deg, rgba(131, 59, 246, 1) 0%, rgba(96, 26, 237, 1)
		100%);
	background-position: 124% 63%;
	background-repeat: no-repeat;
	margin: 0 auto;
	padding: 70px 0;
}

.new_title_div, .modify_title_div {
	width: 100%;
}

.new_title, .modify_title {
	font-family: 'Godo', 'Sans-serif';
	font-weight: 400;
	padding-bottom: 20px;
	border-bottom: 1px solid #a9a9a9;
	margin-bottom: 30px;
}

.title {
	font-size: 25px;
	color: #fff;
	text-align: center;
	font-family: 'Godo', 'Sans-serif';
	font-weight: 400;
}

.small_title {
	font-size: 13px;
	color: #bfbfbf;
	margin-left: 10px;
}

.small_title_l {
	font-family: 'NanumSquareRound', sans-serif;
	font-weight: 400;
	color: #bfbfbf;
	font-size: 12px;
}

/* board의 detail */
.board_content_wrap {
	width: 1200px;
	margin: 0 auto;
	color: #5a5a5a;
	margin-top: 40px;
}

.inq_board_content_wrap {
	width: 100%;
	color: #5a5a5a;
	margin-top: 40px;
}

.board_title {
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	padding: 20px;
	border-bottom: 1px solid #a9a9a9;
}

.inq_board_title {
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	padding: 20px 0;
	border-bottom: 1px solid #a9a9a9;
}

.board_under_wrap {
	width: 100%;
	height: 18px;
	margin: 0 auto;
	margin-top: 15px;
	margin-right: 20px;
	line-height: 18px;
	overflow: hidden;
	font-size: 14px;
}

.board_member_nickname {
	float: right;
	font-size: 15px;
}

.board_writedate {
	float: right;
	margin-right: 20px;
}

.board_readcnt {
	float: right;
	margin-right: 20px;
}

.board_filename_c {
	width: 100%;
	text-align: right;
	margin-top: 15px;
	font-size: 12px;
}

.fa-download {
	font-size: 18px;
}

.detail_board_content {
	box-sizing: border-box;
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding: 30px 0;
	border-bottom: 1px solid #a9a9a9;
}

.inq_detail_board_content {
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 30px 0;
	border-bottom: 1px solid #a9a9a9;
}

.detail_board_content_inner {
	text-align: left;
	padding-left: 20px;
	margin-bottom: 30px;
	line-height: 23px;
}

.board_filename {
	text-align: left;
	margin: 20px auto;
	width: 1200px;
	display: inline-block;
	padding-left: 20px;
}

.board_filename_p {
	float: left;
}

.like_div {
	width: 12%;
	margin: 0 auto;
}

.like_member {
	width: 50%;
	margin: 0 auto;
}

.like_member_cnt {
	float: right;
	text-align: right;
}

input[type=checkbox] {
	display: none;
}

.fa-heart {
	cursor: pointer;
}

/* 자유게시판 detail 사진 미리보기 */
#board_preview {
	width: 65%;
	margin: 35px auto;
	height: 500px;
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}

#board_preview-img {
	width: 100%;
	height: 100%;
}

#board_preview_not {
	width: 65%;
	margin: 35px auto;
	height: 500px;
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	background-image: url("../imgs/no_image.jpg");
	cursor: default;
}

#board_preview-img_not {
	width: 100%;
	height: 100%;
}

#list-top {
	width: 1200px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

#list-top .wrap {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 25px;
}

.select {
	float: left;
}

#search {
	height: 34px;
	float: right;
}

.search_wrap {
	width: 365px;
	margin: 0 auto;
}

.search_eg1 {
	float: left;
}

input[id="keyword"] {
	display: inline-block;
	border: 1px solid #d2d2d2;
	width: 240px;
	height: 34px;
}

.search_eg2 {
	float: right;
}

.search_eg2 a {
	margin-left: 1px;
}

.writing {
	width: 1200px;
	margin: 0 auto;
}

.inq_writing {
	width: 100%;
	text-align: right;
	margin-top: 20px;
}

.writing_wrap {
	margin-top: 10px;
	margin-bottom: 10px;
}

.writing li {
	float: right;
	padding-top: 6px;
	padding-bottom: 3px;
}

#popup {
	width: 450px;
	height: 450px;
	border: 2px solid #777;
	display: none;
}

.popup {
	width: 100%;
	height: 100%;
}

.board_file-name {
	float: left;
	margin-left: 20px;
}

/* 댓글 */
.comment_div {
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.inq_comment_div {
	width: 100%;
}

#comment_regist {
	width: 80%;
	overflow: hidden;
	margin: 0 auto;
	padding: 20px 0;
}

#inq_comment_regist {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	padding: 20px 0;
}

#comment {
	width: 88%;
	height: 80px;
	float: left;
	padding: 20px;
	resize: none;
}

.btn-comment {
	float: right;
	width: 11%;
	height: 80px;
	line-height: 80px;
	display: block;
	color: #fff;
	background-color: #731aed;
	font-size: 14px;
	border-radius: 5px;
	border: 0;
}

#btn-delete {
	margin: 0 10px;
}

#inq_btn-delete {
	margin: 0;
}

#news_btn-modify {
	margin-right: 7px;
}

#news_btn-delete {
	margin-left: 7px;
}
/* 댓글 내용 */
#comment_list {
	width: 80%;
	margin: 0px auto;
	margin-top: 25px;
	margin-bottom: 46px;
}

#inq_comment_list {
	width: 100%;
	margin: 0px auto;
	margin-top: 25px;
	margin-bottom: 46px;
}

hr {
	border: 0;
	border-top: 1px solid #bfbfbf;
}

#comment_inner {
	color: #888;
	padding: 20px;
}

#inner_writerdate {
	text-align: right;
	font-size: 12px;
	margin-left: 5px;
}

#inner_modify {
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
}

#inner_content {
	color: #484848;
	margin-top: 20px;
}

#list_wrap {
	width: 1200px;
	margin: 0 auto;
	font-size: 14px;
}

.list-title {
	display: inline-block;
	width: 100%;
	background: #ebebeb;
	color: #636363;
}

.list-title ul {
	border-top: 1px solid #e4e6e9;
}

.list-title ul li {
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 400;
	font-family: 'Godo', 'Sans-serif';
	text-align: center;
}

.list-content {
	display: inline-block;
	width: 100%;
}

.list-content ul {
	border-bottom: 1px solid #d2d2d24a;
}

.list-content ul li {
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #7a7a7a;
	text-align: center;
}

/* new */
#new_content_wrap {
	width: 1200px;
	margin: 0 auto;
	color: #5a5a5a;
	padding: 95px 0;
}

#new_content_wrap table {
	width: 88%;
}

#new_content_wrap th {
	text-align: left;
	font-size: 16px;
}

#new_content_wrap #textLengthCheck {
	float: right;
	width: 7%;
	height: 40px;
	line-height: 40px;
	border: 0;
	background: transparent;
	margin-right: 5px;
	padding: 0;
}

#new_content_wrap #board_title {
	width: 81%;
	height: 38px;
	float: left;
	border: 0;
	margin: 0;
	text-indent: 20px;
	padding: 0;
}

#new_content_wrap #board_title:focus {
	outline: none;
}

.new_title_wrap {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border: 1px solid #b8b8b8;
}

.new_content_wrap {
	width: 100%;
	height: 280px;
	border: 1px solid #b8b8b8;
}

#new_content_wrap #board_content1 {
	border: 0;
}

#new_content_wrap #board_content1:focus {
	outline: none;
}

#new_content_wrap .btn-empty {
	margin-left: 20px;
}

/* ------------갤러리 & 중고거래 ----------- */
#list_grid_wrap {
	width: 100%;
	margin: 0 auto;
	display: inline-block;
}

#list_grid_wrap li {
	width: 22.7%;
	height: 320px;
	float: left;
	padding: 15px;
	border: 1px solid #d1d1d1;
	border-radius: 7px;
	margin: 0 3% 3% 0;
	box-sizing: border-box;
}

#list_grid_wrap li:nth-child(4n) {
	float: right;
	margin-right: 0;
}

/* 사진 */
#preview {
	width: 100%;
	height: 65%;
	margin-bottom: 3%;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#preview_not {
	width: 100%;
	height: 65%;
	margin-bottom: 3%;
	display: inline-block;
	background-image: url("../imgs/no_image.jpg");
	background-size: cover;
	background-position: center;
}

/* 갤러리 글 */
.list_grid_title {
	width: 100%;
	height: 55px;
	padding: 5% 0px;
	border-top: 1px solid #d1d1d1;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
}

.list_grid_title a {
	font-size: 15px;
	line-height: 20px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.list_grid_user {
	width: 100%;
	height: 7%;
	padding: 3px 0;
	font-size: 14px;
	text-align: right;
}

.list_grid_readcnt {
	width: 100%;
	height: 6%;
	padding: 3px 0;
	text-align: left;
	font-size: 11px;
	color: #bfbfbf;
}

.list_grid_date {
	float: right;
}

/* ----------유튜브--------- */

/* youtube header */
#youtube_menu {
	background-color: #fff;
}

.youtube_title_div {
	width: 1200px;
	background: url("../imgs/vis1_resize.png"),
		linear-gradient(0deg, rgba(131, 59, 246, 1) 0%, rgba(96, 26, 237, 1)
		100%);
	background-position: 130% 34%;
	background-repeat: no-repeat;
	margin: 0 auto;
	padding: 70px 0;
}

#youtube_menubar {
	width: 1200px;
	margin: 0 auto;
}

#youtube_menubar ul {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	margin-top: 50px;
}

#youtube_menubar li {
	width: 20%;
	float: left;
	margin-left: 2px;
}

#youtube_menubar li:nth-child(2) { /* border 겹침 없애기  */
	margin-left: -1px;
}

#youtube_menubar li:nth-child(3) {
	margin-left: -1px;
}

#youtube_menubar li:nth-child(4) {
	margin-left: -1px;
}

#youtube_menubar li:nth-child(5) {
	margin-left: -1px;
}

#youtube_menubar a {
	display: block;
	width: 100%;
	padding: 18px 0;
	text-align: center;
	color: #565656;
	font-weight: 800;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #d1d1d1;
	border-collapse: collapse;
}

#youtube_menubar .you_active {
	border-top: 2px solid #731aed;
	border-left: 1px solid #d1d1d1;
	border-right: 1px solid #d1d1d1;
	background-color: #fff;
	border-bottom: 1px solid white;
}

#youtube_menubar a:hover {
	color: #fff;
	background-color: #802eef;
	border: 1px solid #d1d1d1;
	transition: 0.4s
}

#youtube_menubar .you_active:hover {
	border-top: 2px solid #731aed;
	border-left: 1px solid #d1d1d1;
	border-right: 1px solid #d1d1d1;
	background-color: #fff;
	color: #565656;
	border-bottom: 1px solid white;
}

/* 유튜브 일상  */
#youtube {
	width: 100%;
	height: 820px;
	background-color: #fff;
}

#you_wrap {
	width: 1200px;
	margin: 0 auto;
	padding: 55px 0;
}

.you_content {
	width: 31%;
	height: 320px;
	float: left;
	border: 1px solid #d1d1d1;
	border-radius: 7px;
	padding: 20px;
	margin: 0 3.5% 3.5% 0;
	box-sizing: border-box;
}

.con3 {
	float: right;
	margin-right: 0;
}

.you_screen_ul {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.you_screen {
	width: 100%;
	height: 70%;
	margin-bottom: 4%;
}

.you_thumbnail {
	width: 100%;
	height: 100%;
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.daily1 {	background-image: url("../imgs/youtube_daily1.jpg");}
.daily2 {	background-image: url("../imgs/youtube_daily2.jpg");}
.daily3 {	background-image: url("../imgs/youtube_daily3.jpg");}
.daily4 {	background-image: url("../imgs/youtube_daily4.jpg");}
.daily5 {	background-image: url("../imgs/youtube_daily5.jpg");}
.edu1 {	background-image: url("../imgs/youtube_edu1.jpg");}
.edu2 {	background-image: url("../imgs/youtube_edu2.jpg");}
.edu3 {	background-image: url("../imgs/youtube_edu3.jpg");}
.edu4 {	background-image: url("../imgs/youtube_edu4.jpg");}
.edu5 {	background-image: url("../imgs/youtube_edu5.jpg");}
.health1 {	background-image: url("../imgs/youtube_health1.jpg");}
.health2 {	background-image: url("../imgs/youtube_health2.jpg");}
.health3 {	background-image: url("../imgs/youtube_health3.jpg");}
.health4 {	background-image: url("../imgs/youtube_health4.jpg");}
.health5 {	background-image: url("../imgs/youtube_health5.jpg");}
.beauty1 {	background-image: url("../imgs/youtube_beauty1.jpg");}
.beauty2 {	background-image: url("../imgs/youtube_beauty2.jpg");}
.beauty3 {	background-image: url("../imgs/youtube_beauty3.jpg");}
.beauty4 {	background-image: url("../imgs/youtube_beauty4.jpg");}
.beauty5 {	background-image: url("../imgs/youtube_beauty5.jpg");}
.snack1 {	background-image: url("../imgs/youtube_snack1.jpg");}
.snack2 {	background-image: url("../imgs/youtube_snack2.jpg");}
.snack3 {	background-image: url("../imgs/youtube_snack3.jpg");}
.snack4 {	background-image: url("../imgs/youtube_snack4.jpg");}
.snack5 {	background-image: url("../imgs/youtube_snack5.jpg");}

.you_title {
	width: 100%;
	height: 58px;
	text-align: left;
	line-height: 22px;
	font-size: 16px;
	font-weight: 700;
}

.you_date {
	width: 100%;
	font-size: 13px;
	text-align: right;
}

.white_content {
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.white_content:target {
	opacity: 1;
	pointer-events: auto;
}

.white_content>div {
	position: absolute;
	width: 905px;
	height: 573px;
	top: 24.5%;
	left: 26%;
	padding: 0px;
	border: 3px solid #731aed;
	background-color: #ffffff8a;
	overflow: hidden;
}

.youtube_close {
	text-align: right;
	margin-top: 190px;
	margin-right: 463px;
}

/* ---------이벤트--------- */
.event_list {
	display: inline-block;
	margin: 70px 0;
}

.grid {
	border: 1px solid #e0e0e5;
	border-radius: 20px;
	box-sizing: border-box;
	float: left;
	margin-left: 50px;
	margin-right: 50px;
}

.grid li {
	width: 380px;
	height: 300px;
}

#event_title {
	font-size: 19px;
	font-family: 'Godo', 'Sans-serif';
	margin-top: 18px;
}

#event_date {
	font-size: 13px;
	text-align: center;
	margin-top: 12px;
}
/* 이벤트 페이지 */
.event_img1 {
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-top: 30px;
}

.event_img2 {
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-top: -10px;
}

.event_img3 {
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-top: -10px;
}

.event_img4 {
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-top: -10px;
}

.event_img5 {
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-top: -10px;
}